---
import Markdown from "@astrojs/markdown-component";
import { ProjectMeta } from "@/utils/types";
import { ButtonLink } from "@/components/Button";

const { project_title, caption, cover_image, cover_alt, link } = Astro.props as ProjectMeta;
const alt = cover_alt ? cover_alt : "";

---

<article class="card">
  <div class="body">
    <h3 class="title">{project_title}</h3>
    <div class="excerpt flow">
      <Markdown>{caption}</Markdown>
    </div>

    {link ? (
    <div class="button-wrapper">
      <ButtonLink icon={true} link={link} client:load>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="feather feather-play-circle">
          <circle cx="12" cy="12" r="10"></circle>
          <polygon points="10 8 16 12 10 16 10 8"></polygon>
        </svg>
        <span>Watch</span>
      </ButtonLink>
    </div>
    ) : null}
  </div>

  {cover_image ? (
  <img src={cover_image} alt={alt} class="img" />
  ) : null}
</article>

<style>
  .card {
    padding: 32px;
    display: flex;
    align-items: flex-start;
  }

  .body {
    flex: 1;
  }

  .title {
    font-size: 2rem;
    font-weight: var(--fw-semiBold);
    margin-top: 12px;
  }

  .excerpt {
    font-size: 1.2rem;
    font-weight: var(--fw-regular);
    color: var(--clr-secondary);
    margin-top: 20px;
  }

  .button-wrapper {
    margin-top: 20px;
  }

  .button-wrapper a {
    display: block;
  }

  .img {
    display: block;
    max-width: 400px;
    max-height: 400px;
    margin-top: 2em;
    /* Fallback for the card's gap */
    margin-left: 72px;
  }

  @supports (display: flex) {
    .card {
      gap: 72px;
    }

    .img {
      margin-left: 0;
    }
  }

  @media (max-width: 1024px) {
    .img {
      max-width: 300px;
      max-height: 300px;
    }
  }

  @media (max-width: 768px) {
    .card {
      flex-direction: column;
      justify-content: flex-end;
      gap: 36px;
    }

    .img {
      width: auto;
      max-width: none;
      max-height: 400px;
      order: -1;
      align-self: center;
      margin-top: 0;
      margin-left: 0;
      /* Fallback for the card's gap */
      margin-bottom: 36px;
    }

    .button-wrapper a {
      width: 100%;
    }

    @supports (display: flex; gap: 36px) {
      .card {
        gap: 36px;
      }

      .img {
        margin-bottom: 0;
      }
    }
  }
</style>